.app {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  border: 1px solid black;
  width: 350px;
  height: 500px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 15px 15px 9px 1px rgb(87, 85, 85);
  background-image: linear-gradient(mediumvioletred,silver);
}
.card {
  width: 90%;
  border: 1px solid;
  background-color: #200000;
  color: white;
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px -1px grey;
  padding: 15px;
}
button{
  padding: 5px;
  background-color: plum;
  font-weight: bold;
}
.card .food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.sorry{
  text-align: center;
}